

.slider {
    width: 800px;
    height: auto;
    margin: 0 auto;
    .wrapper {
        width: 100%;
        overflow: hidden;
        &__items {
            width: 400%;
            .item {
                width: 25%;
                float: left;
                img {
                    max-width: 100%;
                }
            }
        }
    }
}

label {
    cursor: pointer;
    text-decoration: none;
}

.controls {
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
    label {
        opacity: 0.4;
        transition: opacity 0.2s ease-out;
        width: 50px;
        height: 50px;
        display: none;
        &:hover {
            opacity: 1;
        }
    }
}

#slider1:checked ~ .wrapper .wrapper__items {
    margin-left: 0;
}
#slider2:checked ~ .wrapper .wrapper__items {
    margin-left: -100%;
}
#slider3:checked ~ .wrapper .wrapper__items {
    margin-left: -200%;
}

#slider1:checked ~ .controls label:nth-child(2),
#slider2:checked ~ .controls label:nth-child(3),
#slider3:checked ~ .controls label:nth-child(1) {
    background: url("../img/angle-square-right.svg") 0 0 / cover no-repeat;
    display: block;
    float: right;
    margin: -280px -60px 0 0;
}

#slider3:checked ~ .controls label:nth-child(2),
#slider2:checked ~ .controls label:nth-child(1),
#slider1:checked ~ .controls label:nth-child(3) {
    background: url("../img/angle-square-left.svg") 0 0 / cover no-repeat;
    display: block;
    float: left;
    margin: -280px 0 0 -60px;
}

.bullets {
    text-align: center;
    margin: -30px 0 0 0;
    label {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: rgb(153, 153, 153);
        margin: 0px 5px;
    }
}

#slider1:checked ~ .bullets label:nth-child(1),
#slider2:checked ~ .bullets label:nth-child(2),
#slider3:checked ~ .bullets label:nth-child(3) {
    display: inline-block;
    background: #000;
}
